.titulos {
    font-family: 'Raleway', sans-serif;
    font-size: 700;
    text-indent: 100px;
}
.fondo {
    background-color: rgba(255, 255, 255 ,0.5);
    background-position-x: 100px;
    width: 1270px;
}

#emilia {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    width: 90px;
    margin-left: 110px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/emilia-home.jpg');
    background-position-x: 300px;
    background-size: 1000px;
    background-repeat: no-repeat;
}
ul li {
    list-style: none;
    margin-left: 70px;
}
.iconos {
    margin-left: 110px;
    font-size: 10px;
}
a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
    line-height: 30px;
}